[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
frozendict = ">=1.2"
anvil-parser = ">=0.1.1"
pyglet = "*"
NBT = "*"
PyYAML = ">=5.0"

[requires]
python_version = "3.7"
