[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pillow = "*"
pyyaml = "*"
anvil-parser = {git = "https://github.com/0xTiger/anvil-parser"}

[dev-packages]

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
