[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
matplotlib = "*"
pyyaml = "*"
anvil-parser = "*"
nbt = "*"
frozendict = "*"
svgpath2mpl = "*"
scipy = {version = "*", markers = "platform_system!='Darwin' or platform_machine!= 'arm64'"}

[dev-packages]
black = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
